#no_gap {
	width: 100%;
	height: 100%;
	left: 0;
    right: 0;
    top: 0;
	position: absolute;
}

body {
	background:#d5d5d5;
}

header {
	width: 100%;
	height: 3em;
	left: 0;
    right: 0;
    top: 0;
	margin: 0;
    padding: 0;
    border: 0;
	position: fixed;
	background-color: rgba(80, 80, 80, 0.85);
	z-index: 2;
}

#logo {
	width: 2.5em;
	height: 2.5em;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	background: rgb(255,185,0);
	display: inline-block;
	border: 0.25em solid rgb(135,65,0);
}

#logo  p {
	font-family: Roboto, Tahoma, sans-serif;
	-webkit-margin-before: 0.75em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0em;
    -webkit-margin-end: 0em;
}
.taken_test {
	border-top-left-radius:0.5em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:1em;
	box-shadow:-0.6em 0.3em 0 0 rgba(128,128,128,0.55) inset;
	height: 1.5em;
	position: relative;
	background: #ffffff;
	margin:  0.5em 0 0 1.4em;
	display: inline-block;
	padding: 0.3em 2em 0em 0.7em;
	
	font-family: Roboto, Tahoma, sans-serif;
}

.taken_test:nth-child(2) {
	margin-left: 5em;
}

#progress_container {
	
	width: 3em;
	height: 100vh;
	left: 0;
    top: 0;
	margin: 5em auto 0 0.4em;
	position: absolute;
	display: inline-block;
	padding: auto;
	/*background-color: #fdfdfd;*/
	z-index: 0;
	
}

.undone_step, .done_step {
	width: 1.34em;
	height: 1.34em;
	border-radius: 100%;
	display: inline-block;
	text-align: center;
	z-index: 1;
	font-size: 2em;
	font-family: Tahoma, sans-serif;
}

.done_step:first-child {
	margin-top: 0;
}

.undone_step:first-child {
	margin-top: 0;
}
.done_step {
	background: rgb(0,186,186);
	color: hsl(120, 80%, 95%);
}

.undone_step {
	box-shadow: 0.3em 0.21em 0 0 rgba(128,128,128,0.85) inset;
	background: hsl(60, 45%, 85%);
	color: hsl(60, 25%, 45%);
}

.link_block {
	height: 1em;
	width: 2.2em;
	z-index: -1;
	display: block;
}

.link {
	height: 100%;
	width: 0.4em;
	margin-left: 1.1em;
	background: #acacac;
}
#content {
	width: 90%;
	height: 100%;
    right: 0;
    margin-top: 4em;
	position: relative;
	display: inline-block;
	padding: 1.2em 3.5em 2em 0.8em;
	z-index: 1;
	/*box-shadow:0 1px 2px #aaa;*/
}

#outer {
    width: 0.1em; /* Or zero, or something very small */
    margin: auto;
    overflow: visible;
}
#inner {
    margin-right: 5em;
}

#question {
	max-width: 20em;
	min-width: 13.8em;
	margin: auto;
	position: realative;
	padding: 0.7em 0.5em 0.7em 0.5em;
	line-height: 1.5em;
	font-size: 2.5em;
	color: rgb(125,55,0);
	text-align: center;
	vertical-align: middle;
	font-family: Droid Sans, sans-serif;
	background: rgb(243,243,239);
	z-index: 2;
	display: block;
	box-shadow: 0 0.1em 0.2em 0 #777;
	border-radius:3px;
	border: 1px dashed rgba(109, 93, 41, 0.30);
}

#answer_container {
	/*background: #cfcfcf;*/
	margin: auto;
	margin-top: 1.5em;
	max-height: 17.5em;
	max-width: 50.2em;
	display: block;
}

.answer_block {
	min-width: 13.8em;
	max-height: 2.75em;
	max-width: 15em;
	min-height: 3em;
	display: inline-block;
	margin: 0.18em 0.08em 0 0.08em;
	box-shadow:0 2px 3px #aaa;
	border-radius:3px;
	padding: 1.2em 0.8em 1.2em 0.6em;
	font-size: 1.62em;
	font-family: Droid Sans, serif;
	background: #fefefe;
}

.answer_block:hover {
	background: rgb(0,186,186);
	color: hsl(120, 80%, 95%);
}
/*
.answer_block:first-child {
	background: #f7a394;
}

.answer_block:nth-child(2) {
	background: #f7c694;
}

.answer_block:nth-child(3) {
	background: #f7df94;
}

.answer_block:nth-child(4) {
	background: #f5f794;
}
*/